mixin comment-count(path)
  if theme.comment
    a.comment-count(href=url_for(path) + '#comments')
      if theme.comment.disqus
        i.disqus-comment-count(data-disqus-identifier=path)
        = ''+ __('guestbook')
      if theme.comment.changyan.appid && theme.comment.changyan.appkey
        i#changyan_count_unit(data-xid=path)
        = ''+ __('guestbook') + ','
        i#changyan_parti_unit(data-xid=path)
        = ''+ __('participate')
