if theme.comment.disqus
  #disqus_thread

if theme.comment.livere
  #lv-container(data-id="city",data-uid=theme.comment.livere)

if theme.comment.uyan
  #uyan_frame

if theme.comment.changyan.appid && theme.comment.changyan.appkey
  #SOHUCS(sid=page.path)